$primary-color: #1c5859;
$primary-light-color: #628d86;
$secondary-color: #dba136;
$primary-text-color: #2c2c38;
$secondary-text-color: #777582;

$red-color: #f44336;
$red-dark-color: #c62828;
$red-light-color: #ef9a9a;

$green-color: #4caf50;
$green-dark-color: #2e7d32;
$green-light-color: #a5d6a7;

$blue-color: #2196f3;
$blue-dark-color: #1565c0;
$blue-light-color: #90caf9;


$square-border: 1px solid gray;
